

body{
    background-color: white;
    margin: 16px 15px 0 15px;
}
/* main banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    padding: 20px;
    margin: 0 auto;
    
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 16px;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.link{
    text-decoration: none;
    color: black;
    
}
/*  banner content left and right*/
.flex-item-left {
    flex: 1;
    margin-left: 220px;
  }
  
  .flex-item-right {
    flex: 1;
    margin-left: 40px;
    
  }
  .description{
    font-weight: bold;
    line-height: 24px;
  }
  .btn{
    width: 120px;
    background-color: red;
    color: white;
    padding: 15px;
    font-weight: bold;
  }
  /* section 2 */
 
  .poster{
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: white;

  }
  .aside-left{
    background-color: black;
    height: 300px;
    padding: 15px;
    width: 300px;
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
  }
  .btn-aside{
    font-weight: bold;
    width: 350px;
    margin-left: 20px;
    height: 38px;
    margin-top: 12px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

  }
  .blog{
    background-color: red;
    color: white;
  }
  .trans{
    width: 120px;
   
   transition: width 2s;
  }
  .trans:hover{
     width: 300px;   
  }
  .view-all{
    display: none;
  }
  /* grid used here */
  .aside-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 12px;
    grid-column-gap:12px ;
    flex-basis: 400px;
    flex-grow: 1;
    background-color: white;
    margin-left: 10px;
    overflow-x: hidden;
  }
  .transfer{
    border: 2px solid gray;
    border-radius: 5px;
    width: 90px;
    padding: 5px;
    background-color: white;
    /* text-align: start; */
    margin-left: 12px;
    color: gray;
  }
  .vs{
    margin-left: 12px;
    font-weight: bold;
  }
  .sub-content{
    display: flex;
    justify-content:flex-start;
   
    
  }
  .content{
    display: flex;
    margin-left: 15px;
  }
  .menu{
    width: 312px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1px;
  }
  /* footer */
  footer{
    
    background-color: black;
    color: white;
    padding: 15px;
    height: 480px;
    border-radius: 5px 0 0 0;
    margin-top: 18px;
  }
  .goal{
    text-align: center;
    margin-top: 64px;
  }
  .items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    
  }
  .items p{
    margin-left: 16px;
    color: gray;
  }
  .icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 220px;
  }
  .social{
    margin-left: 8px;
    color: white;
  }

  /* match.html */
  .flag{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;

  }
  .match{
    border: 1px solid gray;
    width: 300px;
   
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1px;
  }
  .time{
    font-weight: bold;
    color: gray;
    text-align: center;
  }
  .country{
    font-weight:bolder;
    color: black;
  }
  /* media query tablet */
  @media (min-width: 481px) and (max-width: 767px){
    .banner{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-item-left {
        flex: 1;
        margin-left: 24px;
      }
    .heading{
        font-size: 24px;
        text-align: center;
    }
    .description{
        text-align: center;
    }
    .poster{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .aside-right{
        
        display: grid;
        grid-column-gap:8px ;
        grid-template-columns: repeat(2,1fr);
        margin-left: 0;
    }

    .aside-left{
        background-color: white;
        flex-direction: row;
        align-items:center; 
        margin-left: 16px;
        flex-basis: 80px;
    }
    .btn-aside{
        width:180px;
        margin-left: 8px;
        border: 2px solid gray;
    }
    
    .blog{
        border: none;
    }
    .view-all{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        background-color: red;
        border: none;
        color: white;
        padding: 15px;
        font-weight: bold;
        margin: 0 auto;
      }
      body{
        margin: 16px 8px 0 9px;
        overflow-x: hidden;
      }
      footer{
        background-color: black;
        width: 100%;
       
        
      }
      .items{
        flex-wrap: wrap;
      }
      
    
    
  }
  /* Media query mobile */
  @media (max-width: 480px){
    body{
        margin: 16px 8px 0 9px;
        overflow-x: hidden;
      }
      .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .poster{
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
      .flex-item-left {
        width: 100%;
        margin-left:0;
        margin-bottom: 30px;
      }
      .flex-item-right{
        
        margin-left: 0;
      }
      .aside-left{
        background-color: white;
        margin-top: 20px;
        height: 300px;
        padding: 15px;
        width: 100%;
        display: flex;
        flex-basis: 200px;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
      }
      .aside-right{
        
        display: grid;
        grid-row-gap:18px;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .btn-aside{
        width:100%;

        margin-left: 8px;
        border: 2px solid gray;
    }
    footer{
        background-color: black;
        width: 100%;
      }
      .items{
        display: flex;
        flex-direction: column;
      }
      .icon{
        display: flex;
        justify-content: center;
        margin-top: 0;
      }
  }